parameters:
    paths:
        - src
        - tests
    excludePaths:
        - tests/Resources/*
    level: max
    bootstrapFiles:
        - phpstan.bootstrap.php
    symfony:
        containerXmlPath: tests/Resources/var/cache/test/Zjk_TmpStorage_Tests_Resources_App_ZJKizaTmpStorageBundleTestKernelTestDebugContainer.xml
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon